/*html{*/
/*margin:0;*/
/*padding:0;*/
/*overflow: hidden;*/
/*}*/

#fixed {
    max-width: 100%;
    overflow: hidden;
}


/*body{*/
/*position: absolute;*/
/*width:100%;*/
/*height:100%;*/
/*overflow: hidden;*/
/*}*/



body {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    background-color: black;
    font-family: 'Hind', sans-serif;
    font-weight: lighter;
}

.containingCircle{
    float: right;
}

a {
    padding: 0;
    margin: 0;
}

a:hover {
    color: #366396;
}

.uniqueInput {
    color: white;
}

.linkroach {
    color: #414142;
    font-style: italic;
    padding-top: 0px;
    margin-bottom: 20px;
    padding-left: none;
    max-width: 100%;
    font-size: 12px
}


div {
    margin: 0;
    background-color: transparent;
}

svg {
    position: absolute;
    margin-top: 0%;
    margin-left: -3%;
    z-index: 1;
}

#generatedText {
    z-index: 0;
    font-size: 20px;
    text-align: center;
    color: #696d72;
    position: absolute;
    z-index: 0;
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 20%;
}


shelter {
    width: 100%;
}

.gridBigTitle {
    max-width: 100%;
    font-size:20px;
    padding-top: 1%;
    color: #696d72;
    font-weight: bold;
    text-align: left;
}


rect {
    fill: black;
}

label,
output {
    margin-top: 20px;
    color: #696d72;
    height: 25px;
    border-bottom: 50px;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 16.6px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(13, 13, 13, 0.04);
  background: #696d72;
  border-radius: 0px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 35px;
  width: 26px;
  border-radius: 7px;
  background: #9e9e9e;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -16.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #696d72;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 1.8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(13, 13, 13, 0.04);
  background: #696d72;
  border-radius: 0px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 35px;
  width: 26px;
  border-radius: 7px;
  background: #9e9e9e;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 1.8px;
  cursor: pointer;
  background: #696d72;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #696d72;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(13, 13, 13, 0.04);
}
input[type=range]::-ms-fill-upper {
  background: #696d72;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(13, 13, 13, 0.04);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 35px;
  width: 26px;
  border-radius: 7px;
  background: #9e9e9e;
  cursor: pointer;
  height: 1.8px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #696d72;
}
input[type=range]:focus::-ms-fill-upper {
  background: #696d72;
}


input[type=range] {
  -webkit-appearance: none;
  width: 50%;
  margin: 16.6px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 50%;
  height: 1.8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(13, 13, 13, 0.04);
  background: #696d72;
  border-radius: 0px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 35px;
  width: 26px;
  border-radius: 7px;
  background: #9e9e9e;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -16.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #696d72;
}
input[type=range]::-moz-range-track {
  width: 50%;
  height: 1.8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(13, 13, 13, 0.04);
  background: #696d72;
  border-radius: 0px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 35px;
  width: 26px;
  border-radius: 7px;
  background: #9e9e9e;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 50%;
  height: 1.8px;
  cursor: pointer;
  background: #696d72;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #696d72;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(13, 13, 13, 0.04);
}
input[type=range]::-ms-fill-upper {
  background: #696d72;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(13, 13, 13, 0.04);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 35px;
  width: 26px;
  border-radius: 7px;
  background: #9e9e9e;
  cursor: pointer;
  height: 1.8px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #696d72;
}
input[type=range]:focus::-ms-fill-upper {
  background: #696d72;
}


/*input[type=range] {*/
/*    -webkit-appearance: none;*/
/*}*/

/*input[type=range]:focus {*/
/*    outline: none;*/
/*}*/

/*input[type=range]::-webkit-slider-runnable-track {*/
/*    height: 1.5px;*/
/*    cursor: pointer;*/
/*    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);*/
/*    background: rgba(199, 198, 202, 0.79);*/
/*    border-radius: 0px;*/
/*    border: 0px solid rgba(0, 0, 0, 0);*/
/*}*/

/*input[type=range]::-webkit-slider-thumb {*/
/*    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);*/
/*    border: 0px solid rgba(0, 0, 0, 0);*/
/*      height: 42px;*/
/*  width: 22px;*/
/*  border-radius: 50px;*/
/*    background: rgba(255, 255, 255, 0.69);*/
/*    cursor: pointer;*/
/*    -webkit-appearance: none;*/
/*    margin-top: -8.75px;*/
/*}*/

/*input[type=range]:focus::-webkit-slider-runnable-track {*/
/*    background: rgba(212, 211, 214, 0.79);*/
/*}*/

/*input[type=range]::-moz-range-track {*/
/*    height: 1.5px;*/
/*    cursor: pointer;*/
/*    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);*/
/*    background: rgba(199, 198, 202, 0.79);*/
/*    border-radius: 0px;*/
/*    border: 0px solid rgba(0, 0, 0, 0);*/
/*}*/

/*input[type=range]::-moz-range-thumb {*/
/*    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);*/
/*    border: 0px solid rgba(0, 0, 0, 0);*/
/*      height: 42px;*/
/*  width: 22px;*/
/*  border-radius: 50px;*/
/*    background: rgba(255, 255, 255, 0.69);*/
/*    cursor: pointer;*/
/*}*/

/*input[type=range]::-ms-track {*/
/*    height: 1.5px;*/
/*    cursor: pointer;*/
/*    background: transparent;*/
/*    border-color: transparent;*/
/*    color: transparent;*/
/*}*/

/*input[type=range]::-ms-fill-lower {*/
/*    background: rgba(186, 185, 190, 0.79);*/
/*    border: 0px solid rgba(0, 0, 0, 0);*/
/*    border-radius: 0px;*/
/*    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);*/
/*}*/

/*input[type=range]::-ms-fill-upper {*/
/*    background: rgba(199, 198, 202, 0.79);*/
/*    border: 0px solid rgba(0, 0, 0, 0);*/
/*    border-radius: 0px;*/
/*    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);*/
/*}*/

/*input[type=range]::-ms-thumb {*/
/*    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);*/
/*    border: 0px solid rgba(0, 0, 0, 0);*/
/*      height: 42px;*/
/*      width: 22px;*/
/*      border-radius: 50px;*/
/*    background: rgba(255, 255, 255, 0.69);*/
/*    cursor: pointer;*/
    /*height: 5px;*/
/*}*/

/*input[type=range]:focus::-ms-fill-lower {*/
/*    background: rgba(199, 198, 202, 0.79);*/
/*}*/

/*input[type=range]:focus::-ms-fill-upper {*/
/*    background: rgba(212, 211, 214, 0.79);*/
/*}*/
/*CSS GRID*/

.wrapper {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(12, 1fr);
    /*grid-template-rows: 40px auto 40px;*/
    grid-template-areas: "b b b b b b b b b b b b" 
                         "h h h h h h h h h h h h"
                         "r r r r r r r r r r r r"
                         "c c c c c c c c c c c c";

    align-items: flex-start;
}



.gridSubtitle {
    grid-area: s;
    line-height: 1;
    display:none;
}




@media only screen and (min-width: 800px) {
  svg{
      margin-left: 0%;
  }
    .wrapper {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows:auto;
    grid-template-areas: "b b b b b b b b b b b b" 
                         "s s s s s s s s s s s s"
                         "h h h h r r r r c c c c";
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    }
    
    #generatedText {
        font-size: 30px;
        margin-top: 7%;

    }
    
    .gridBigTitle{
        font-size: 25px
        
    }
    
    .gridSubtitle {
     display: block;
     margin-left: 20px;
    }
    
    .gridBigTitle {
    max-width: 100%;
    padding-top: 1%;
    color: #696d72;
    font-weight: bold;
    text-align: left;
}
}




.gridBigTitle {
    grid-area: b;
    margin-left: 20px;
}



.gridNumShelters {
    grid-area: h;
    line-height: 0px;
    text-align: center;
    padding-top: 5%;


}

.gridNumRoaches {
    grid-area: r;
    line-height: 0px;
    text-align: center;
    padding-top: 5%;



}
.gridCapacity {
    grid-area: c;
    line-height: 0px;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 20px;

}
